# Ignore site output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore log and temp files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Ruby dependencies
.bundle/
vendor/

# Ignore VSCode settings (if you use it)
.vscode/
