---
---
@font-face {
  font-family: 'Underwood';
  src: url('/assets/fonts/Underwood_Quiet_Tab.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.site-title {
  font-family: 'Underwood', monospace;
  font-size: 32px; /* Optional */
  font-weight: normal; /* Optional */
}

.site-footer {
    font-family: 'Underwood', monospace;
    }
/*
h1 {
  font-family: 'Underwood', serif;
}
*/
body {
  background-color: #fdf6e3; /* a light parchment tone */
}
